@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../assets/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


:root{
  
  --border-width: 2px;
  --controls-container-width: 50px;

  /* Screen widths to respond to via media queries */
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;

  --spacing-s: 5px;
  --spacing-m: 10px;
  --spacing-l: 15px;
  --spacing-xl: 25px;

  --height-m: 45px;

  --border-radius-s: 2px;
  --border-radius-m: 3px;
  --border-radius-l: 5px;

  --color-white: #fff;
  --color-lighter: rgb(249, 249, 249);
  --color-light: rgb(242,242,242);
  --color-light2: rgb(223, 223, 223);
  --color-medium: rgb(152,152,152);
  --color-dark: rgb(77,77,77);
  --color-text-dark: rgb(77,77,77);
  --color-text-light: rgb(242,242,242);

  --color-primary: rgb(0,160,163);
  --color-secondary: rgb(250,158,0);
  --color-tertiary: rgb(181,22,77);

  --shadow1: rgba(0,0,0,0.1) 0 0 5px 1px;
  --shadow2: rgba(0,0,0,0.1) 0px 0px 20px 0px;
}


@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}

body{
  background: var(--color-light);
}

h1{
  display: flex;
  align-items: center;
  line-height: var(--height-m);
  font-weight: 600;
  font-size: 1.8em;
  text-transform: uppercase;
  margin:unset;
  padding:0;
}
.truncateString{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.inputHeading{
  margin: var(--spacing-l) 0 var(--spacing-m);
  font-weight: bold;
}
input{
  background-color: var(--color-lighter);
  box-sizing: border-box;
  border-radius: var(--border-radius-m);
  border: 0;
  width: 100%;
  padding: var(--spacing-l);
}
input:hover, input:focus{
  background-color: var(--color-white);
  background-image: url('../assets/images/create.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right var(--spacing-m) center;
}

.invalid{
  color: var(--color-tertiary);
  border: 1px solid var(--color-tertiary);
}

.loading {
  animation: rotation 1s infinite linear;
}

.App {
  display: flex;
  flex-direction: row;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-l);
  color: var(--color-text-dark);
}

.profile{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile .picturewrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 500px;
  width: 80px;
  min-width:80px;
  height: 80px;
  min-height: 80px;
}

.profile .picturewrapper img{
  background-image: url('../assets/images/profile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  border-radius: 500px;
  box-shadow: var(--color-light2) 0 0 0 5px inset, var(--color-light) 0 0 0 8px inset;
  min-width: 102%;
  height: 102%;
}

.profile .notification{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.userStats{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--spacing-m) 0;
}

.userStats .material-icons{
  margin-right: var(--spacing-m);
}

.userStats > div{
  display: flex;
  align-items: center;
  padding: var(--spacing-s) var(--spacing-l);
}

.userStats > div span{
  width:fit-content;
  max-width: 120px;
}

.syncarea{
}

.syncButtonsWrapper{
  display: flex;
  flex-direction: row;
  background: var(--color-dark);
  border-radius: 500px;
  width: fit-content;
  margin: var(--spacing-xl) auto;
  box-shadow: var(--shadow1);
}

.syncButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--color-light);
  margin: var(--spacing-s);
  border-radius: 500px;
  padding: var(--spacing-m);
  padding-right: var(--spacing-xl);
  cursor: pointer;
  font-weight: 600;
}

.syncButton:hover{
  background: var(--color-light2);
}

.syncButton .material-icons{
  margin-right: var(--spacing-m);
  font-size: 40px;
  color: var(--color-primary);
}

.syncStatus{
  margin-bottom: var(--spacing-l)
}

.syncStats{
  display: flex;
}

.syncStats .material-icons{
  margin-right: var(--spacing-l);
}

.syncStatsBodyContent{
  display: flex;
  margin-top: var(--spacing-l);
}

.syncStatsEntry{
  display: flex;
  margin-right: var(--spacing-l);
}

.syncStatsEntry .material-icons{
  margin-right: var(--spacing-s);
  font-size: 20px;
  color: var(--color-secondary);
}


.nav{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  padding-top: var(--spacing-s);
  background: var(--color-dark);
  min-height: 100vh;
  border-top-left-radius: var(--border-radius-m);
}

.nav a{
  text-decoration: none;
}

.nav .link{
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:var(--color-light);
  cursor: pointer;
}

.nav .link:hover{
  color:var(--color-secondary);
}

.nav .link.selected{
  padding-right: var(--spacing-s);
  color:var(--color-primary);
  background: var(--color-light);
  border-top-left-radius:  var(--border-radius-m);
  border-bottom-left-radius:  var(--border-radius-m);
  position: relative;
  width: calc(100% - 5px);
  cursor: default;
}

.nav .selected::before{
  content: '';
  display: block;
  width:var(--border-radius-m);
  height:var(--border-radius-m);
  position: absolute;
  right:0;
  top:calc(var(--border-radius-m) * -1);
  background-image: radial-gradient(circle at 0 0, rgba(204,0,0,0) var(--border-radius-m), var(--color-light) calc(var(--border-radius-m) + 1px));
}

.nav .selected:first-of-type:before{
  content: unset;
}

.nav .selected::after{
  content: '';
  display: block;
  width:var(--border-radius-m);
  height:var(--border-radius-m);
  position: absolute;
  right:0;
  bottom:calc(var(--border-radius-m) * -1);
  background-image: radial-gradient(circle at 0 100%, rgba(204,0,0,0) var(--border-radius-m), var(--color-light) calc(var(--border-radius-m) + 1px));
}

.main{
  padding: var(--spacing-m);
  background: var(--color-light);
  width: 100%;
  max-height:calc(100vh - var(--spacing-m) * 2 - var(--spacing-s));
  overflow-y: auto;
  border-top: var(--spacing-s) solid var(--color-dark);
}

.history{
}

.historyItemWrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr));
  gap: var(--spacing-m);
}

.historyItem{
  background: var(--color-white);
}

.historySubItem{
  margin-top: var(--spacing-m)
}

.reviews-list{
}

.reviewItemsWrapper{
  box-shadow: var(--shadow1);
  border-radius: var(--border-radius-s);
  overflow: hidden;
}

.filterWrapper{
  display: grid;
  grid-template-columns: 3fr 2fr auto auto auto;
  gap: var(--spacing-m);
}

.filterWrapper > label{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-m);
}
.filterWrapper > label > input{
  width: unset;
  margin: unset;
  margin-left: var(--spacing-l);
}

.selectable{
  background: var(--color-white);
  color: var(--color-text-dark);
  cursor: pointer;
}
.selectable:hover{
  background: var(--color-lighter);
}
.reviewItem{
  display: grid;
  grid-template-columns: 2em 3.5fr 3.5fr 0.6fr 0.6fr 0.6fr 0.6fr 0.7fr;
  grid-gap: var(--spacing-xl);
  padding: var(--spacing-l) var(--spacing-m);
  margin-bottom: 1px;
  align-items: center;
}
.reviewItem:last-of-type{
  margin: 0;
}

.reviewsHeader{
  font-weight: 600;
  text-transform: uppercase;
  background: unset;
  cursor: default;
}

.selected{
  background: var(--color-primary);
  color: var(--color-light);
  cursor: default;
}
.externalLink:hover{
  color: var(--color-secondary);
  cursor: pointer;
}

.productDeleted{
  text-decoration: line-through;
  font-style: italic;
}

.review-notification{
  background: var(--color-white);
}

.review-notification > span{
  grid-column: 1/8;
  font-style: italic;
}

.userCards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: var(--spacing-m);
  margin-top: var(--spacing-m);
  cursor: pointer;
}

.card{
  border-radius: var(--border-radius-m);
  overflow: hidden;
  padding: var(--spacing-m);
  box-shadow: var(--shadow1);
}

.card.selected{
  background: var(--color-primary);
  color: var(--color-text-light);
  /*border: var(--border-width) solid var(--color-dark);*/
}

.settings{}

.languagesWrapper{
  display: flex;
}

.languagesWrapper > div{
  display: flex;
  align-items: center;
  height: var(--height-m);
  padding: 0 var(--spacing-m);
  background: var(--color-white);
  border-radius: var(--border-radius-m);
  margin-right: var(--spacing-m);
  cursor: pointer;
}

.languagesWrapper > div.selected{
  background: var(--color-primary);
  color: var(--color-text-light);
  font-weight: bold;
  cursor: default;
}


@media (max-width: 2000px){
  .reviewItem{
    grid-template-columns: 2em 3.5fr 3.5fr 0.6fr 0.6fr 0.6fr 0.6fr 1.2fr;
  }
}

@media (max-width: 1600px){
  .reviewItem{
    grid-template-columns: 2em 3.5fr 3.5fr 0.6fr 0.6fr 0.6fr 0.6fr 1.5fr;
  }
}

@media (max-width: 1200px){
  .reviewItem{
    grid-template-columns: 2em 3.5fr 3.5fr 0.8fr 0.8fr 1.3fr;
  }
  .reviewItem .columnReviewDate {
    display: none;
  }
  .reviewItem .columnAverageRating {
    display: none;
  }
}

@media (max-width: 992px){
  .reviewItem{
    grid-template-columns: 2em 3.5fr 0.6fr 0.6fr 1fr;
  }
  .reviewItem .columnReviewTitle {
    display: none;
  }
}
