@import url("../containers/App.css");

.infoCard{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infoCard.center{
  justify-content: center;
}

.infoCard.small{
  max-width: fit-content;
}

.infoCard .head{
  font-weight: bold;
  min-width: fit-content;
}

.infoCard > div:nth-child(2){
  margin-left: var(--spacing-m);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}