@import url("../containers/App.css");

#modal-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  padding: var(--spacing-m);
  box-sizing: border-box;
  transition: background 0.3s;
}

.modal{
  z-index: 4;
  min-width: 100px;
  min-height: 50px;
  max-width: calc(100% - 2 * var(--spacing-xl));
  max-height: calc(100% - 2 * var(--spacing-xl));
  display: flex;
  flex-direction: column;
  margin: var(--spacing-s) 0;
  background: var(--color-light);
  box-shadow: var(--shadow2);
  border-radius: var(--border-radius-l);
  padding: var(--spacing-m);
  opacity: 1;
  transition: all 0.3s;
}

.modal-header{
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-m);
}

.modal-header-title{
  font-weight: bold;
}

.modal-header-menu{
  margin-left: var(--spacing-m);
  display: flex;
  align-items: center;
}

.menu-action{
  background: none;
  border-radius: var(--border-radius-m);
  cursor: pointer;
  transition: all 0.3s;
}

.menu-action:hover{
  background: var(--color-light2);
  transition: all 0.3s;
}

.modal-content{
  overflow-y: auto;
}
