@import url("../containers/App.css");

.modalReview{
}

.modalReview .infoCardRow {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
}

.modalReview .card{
    margin:var(--spacing-s);
    flex-grow: 1;
}

.modalReview .reviewMain{
    flex-grow: unset;
}