@import url("../containers/App.css");

.modalReview{
    display: flex;
    flex-direction: column;
}

.modalReview .reviewSide{
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
}

.modalReview .card{
    background: var(--color-white);
    margin:var(--spacing-s);
    flex-direction: column;
    flex-grow: 1;
}

.modalReview .reviewMain{
    flex-grow: unset;
}