:root{
  --spacing-s: 5px;
  --spacing-m: 10px;
  --spacing-l: 15px;
  --spacing-xl: 25px;

  --color-white: #fff;
  --color-light: #efefef;
  --color-medium: #838383;
  --color-dark: #2c2e33;
  --color-text-dark: #1f2024;
  --color-text-light: #f7f7f7;
}

.App {
  padding: var(--spacing-xl);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.profile-details{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--spacing-m);
}
.profile-details div{
  background: var(--color-light);
  padding: var(--spacing-m);
  color: var(--color-text-dark);
}

.reviews-list{
  margin:  var(--spacing-xl) 0 0 0;
}

.reviews-header{
  font-weight: 600;
  text-transform: uppercase;
}

.review-item{
  display: grid;
  grid-template-columns: 1.5fr 3.5fr 3.5fr 1fr 1fr 1fr 1fr;
  grid-gap: var(--spacing-xl);
  margin: 0 0 var(--spacing-m) 0;
  background: var(--color-light);
  padding: var(--spacing-m);
  color: var(--color-text-dark);
}

.review-item > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-item > div:last-of-type{
  justify-self: end;
}

.review-notification > span{
  grid-column: 1/8;
  font-style: italic;
}